* text=auto

# Código y configuración
*.py text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# PowerShell / Windows
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
